---
import "../../base.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import MyImage from "../icons/myImage.png";
import GeekyantsLogo from "../icons/geekyants_logo.svg";
import BiencapsLogo from "../icons/biencaps_logo.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import Card from "../components/Card.astro";
import ListItem from "../components/ListItem.astro";
import TechStackMain from "../components/TechStackMain.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle="viveks portfolio homepage">
  <section
    class="section-1 relative min-h-screen w-full snap-start pt-20 md:min-h-fit md:pt-32"
  >
    <div class="mb-24 flex flex-col lg:flex-row lg:justify-between">
      <div class="order-2 max-w-2xl lg:order-1">
        <div>
          <h1
            class="letters mt-10 cursor-pointer text-header font-bold leading-none tracking-tight xl:mt-0"
          >
            Hi there,<br class="block sm:hidden" /> I&apos;m <br
              class="hidden sm:block"
            />
            <div class="hidden md:block">
              <span class="letters__one hidden md:inline-block">V</span>
              <span class="letters__two hidden md:inline-block">i</span>
              <span class="letters__three hidden md:inline-block">v</span>
              <span class="letters__four hidden md:inline-block">e</span>
              <span class="letters__five hidden md:inline-block">k</span>
              <span class="letters__five hidden md:inline-block">&nbsp;</span>
              <span class="letters__six hidden md:inline-block">L</span>
              <span class="letters__seven hidden md:inline-block">o</span>
              <span class="letters__eight hidden md:inline-block">k</span>
              <span class="letters__nine hidden md:inline-block">h</span>
              <span class="letters__ten hidden md:inline-block">a</span>
              <span class="letters__eleven hidden md:inline-block">n</span>
              <span class="letters__twelve hidden md:inline-block">d</span>
              <span class="letters__thirteen hidden md:inline-block">e</span>
              <span>.</span>
            </div>
            <span class="block md:hidden">Vivek Lokhande.</span>
          </h1>
          <p class="mt-10">
            I like tinkering with open source. Experimenting with new
            frameworks.

            <br class="hidden lg:block" /> Lately getting interested in creating
            useful products which

            <br class="hidden lg:block" /> people can use.On my journey to
            become a fullstack dev.
          </p>
        </div>
        <div class="mt-20 flex flex-col gap-4 px-4 sm:flex-row md:px-0">
          <ButtonPrimary value="Read my blogs" href="/" />
          <ButtonSecondary
            value="Resume"
            href="https://flowcv.com/resume/sn0nv3i4u3"
          />
        </div>
      </div>
      <div class="imageCard group relative order-1 w-fit lg:order-2">
        <Icon
          name="circle"
          class="h-[150px] w-[150px] animate-spin-slow group-hover:animate-spin lg:h-[340px] lg:w-[340px]"
        />
        <Image
          src={MyImage}
          alt="my picture"
          class="imageCard__image absolute left-2 top-2.5 h-[132px] w-[132px] cursor-pointer opacity-0 ease-in-out lg:left-5 lg:top-5 lg:h-[300px] lg:w-[300px]"
        />
      </div>
    </div>
    <div
      class="item mb-24 hidden flex-col gap-8 lg:flex-row xl:flex xl:justify-between"
    >
      <Card
        cardTitle="About Me"
        cardWidth="xl:basis-2/3 basis-full"
        cardHeight=""
      >
        <p class="mt-4 tracking-tight">
          Hi there, I am vivek, I am passionate about OSS and writing clean
          code.
        </p>

        <p class="mt-4 tracking-tight">
          My journey started as a engineer from a non-core background. I have
          transitioned into a CS background through my interest in robotics,
          motion graphics, video editing, programming, and now I work as a SWE.
        </p>
        <p class="mt-4 tracking-tight">
          I have completed my undergrad from Pune University.Most of the things
          I build or learn is still driven by my curiosity . I love talikng
          about frontend development and attend various tech events where i gain
          more insights and get to interact with like minded folks.
        </p>
        <p class="mt-4 tracking-tight">
          Feel free to reach out if you'd like to discuss anything related to
          frontend development, open-source projects, or just have a friendly
          chat about tech!
        </p>
      </Card>
      <Card
        cardTitle="Experience"
        cardWidth="basis-full w-full xl:basis-1/3"
        cardHeight=""
      >
        <ul>
          <ListItem
            imageObject={GeekyantsLogo}
            orgName="GEEKYANTS"
            position="software engineer-II"
            tenure="Aug 2022 ‐ Present"
          />
          <ListItem
            imageObject={GeekyantsLogo}
            orgName="GEEKYANTS"
            position="software engineer-I"
            tenure="Aug 2021 ‐ Aug 2022"
          />
          <ListItem
            imageObject={BiencapsLogo}
            orgName="Biencaps"
            position="motion graphics designer"
            tenure="June 2020 - Aug 2020"
          />
        </ul>
      </Card>
    </div>
  </section>
  <section
    class="item mb-24 flex min-h-screen snap-start flex-col items-center justify-center gap-8 md:min-h-fit md:items-baseline lg:flex-row xl:hidden xl:justify-between"
  >
    <Card
      cardTitle="About Me"
      cardWidth="xl:basis-2/3 basis-full"
      cardHeight=""
    >
      <p class="mt-4 tracking-tight">
        Hi there, I am vivek, I am passionate about OSS and writing clean code.
      </p>

      <p class="mt-4 tracking-tight">
        My journey started as a engineer from a non-core background. I have
        transitioned into a CS background through my interest in robotics,
        motion graphics, video editing, programming, and now I work as a SWE.
      </p>
      <p class="mt-4 tracking-tight">
        I have completed my undergrad from Pune University.Most of the things I
        build or learn is still driven by my curiosity . I love talikng about
        frontend development and attend various tech events where i gain more
        insights and get to interact with like minded folks. Feel free to reach
        out if you'd like to discuss anything related to frontend development,
        open-source projects, or just have a friendly chat about tech!
      </p>
    </Card>
    <Card
      cardTitle="Experience"
      cardWidth="basis-full w-full xl:basis-1/3"
      cardHeight="h-full"
    >
      <ul>
        <ListItem
          imageObject={GeekyantsLogo}
          orgName="GEEKYANTS"
          position="software engineer-II"
          tenure="Aug 2022 ‐ Present"
        />
        <ListItem
          imageObject={GeekyantsLogo}
          orgName="GEEKYANTS"
          position="software engineer-I"
          tenure="Aug 2021 ‐ Aug 2022"
        />
        <ListItem
          imageObject={BiencapsLogo}
          orgName="Biencaps"
          position="motion graphics designer"
          tenure="June 2020 - Aug 2020"
        />
      </ul>
    </Card>
  </section>
  <section class="section-2 relative mb-32 mt-20 w-full snap-start">
    <TechStackMain />
  </section>
</BaseLayout>

<script>
  import { animate, spring, inView, stagger, timeline } from "motion";
  import "../scripts/home/letterAnimation";

  const cardElement = document.querySelector(".imageCard") as HTMLDivElement;

  inView(".section-2", () => {
    animate(
      ".svgRotate",
      { rotate: 360 },
      { easing: spring(), delay: stagger(0.1) },
    );
  });

  animate(".imageCard__image", { opacity: 1 }, { duration: 2 });
  animate(".imageCard", { scale: 0.95 });

  // Function to animate on hover
  function animateOnHover() {
    animate(".imageCard__image", { opacity: 1 }, { duration: 2 });
    animate(".imageCard", { scale: 1 });
  }

  // Function to reset animations on hover-out
  function resetAnimations() {
    animate(".imageCard__image", { opacity: 0.8 }, { duration: 2 });
    animate(".imageCard", { scale: 0.95 });
  }

  // Add event listeners
  cardElement.addEventListener("mouseover", animateOnHover);
  cardElement.addEventListener("mouseout", resetAnimations);
</script>
