---
import "../../base.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import MyImage from "../icons/myImage.png";
import GeekyantsLogo from "../icons/geekyants_logo.svg";
import BiencapsLogo from "../icons/biencaps_logo.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import Card from "../components/Card.astro";
import ListItem from "../components/ListItem.astro";
import TechStackMain from "../components/TechStackMain.astro";
import BaseLayout from "../layout/BaseLayout.astro";

const pagetitle: string = "vivek";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <BaseLayout pageTitle="hello">
    <section class="section-1 w-full pt-20 md:pt-32">
      <div class="mb-24 flex flex-col-reverse justify-between xl:flex-row">
        <div class="max-w-2xl">
          <div>
            <h1
              class="mt-10 text-header font-bold leading-none tracking-tight xl:mt-0"
            >
              Hi there,<br class="block sm:hidden" /> I&apos;m <br
                class="hidden sm:block"
              /> Vivek Lokhande.
            </h1>
            <p class="mt-10">
              I like tinkering with open source. Experimenting with new
              frameworks.

              <br class="hidden lg:block" /> Lately getting interested in
              creating useful products which

              <br class="hidden lg:block" /> people can use.On my journey to
              become a fullstack dev.
            </p>
          </div>
          <div class="mt-20 flex flex-col gap-4 sm:flex-row">
            <ButtonPrimary value="Read my blogs" href="/" />
            <ButtonSecondary value="Connect with me" href="/" />
          </div>
        </div>
        <div class="group relative w-fit">
          <Icon
            name="circle"
            class="h-[150px] w-[150px] animate-spin-slow group-hover:animate-spin xl:h-[340px] xl:w-[340px]"
          />
          <Image
            src={MyImage}
            alt="my picture"
            class="absolute left-2 top-2.5 h-[132px] w-[132px] cursor-pointer xl:left-5 xl:top-5 xl:h-[300px] xl:w-[300px]"
          />
        </div>
      </div>
      <div class="mb-24 flex h-full flex-col justify-between gap-8 lg:flex-row">
        <Card
          cardTitle="About Me"
          cardWidth="xl:basis-2/3 basis-4/6"
          cardHeight=""
        >
          <p class="tracking-tight">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam id
            aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
            <br />
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
            id aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
            <br />
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
            id aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
          </p>
        </Card>
        <Card
          cardTitle="Experience"
          cardWidth="basis-3/6 xl:basis-1/3"
          cardHeight=""
        >
          <ul>
            <ListItem
              imageObject={GeekyantsLogo}
              orgName="GEEKYANTS"
              position="software engineer-II"
              tenure="Aug 2022 ‐ Present"
            />
            <ListItem
              imageObject={GeekyantsLogo}
              orgName="GEEKYANTS"
              position="software engineer-I"
              tenure="Aug 2021 ‐ Aug 2022"
            />
            <ListItem
              imageObject={BiencapsLogo}
              orgName="Biencaps"
              position="motion graphics designer"
              tenure="June 2020 - Aug 2020"
            />
          </ul>
        </Card>
      </div>
    </section>
    <section class="section-2 relative mb-32 w-full">
      <TechStackMain />
    </section>
  </BaseLayout>


</html>
