---
import "../../base.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import MyImage from "../icons/myImage.png";
import GeekyantsLogo from "../icons/geekyants_logo.svg";
import BiencapsLogo from "../icons/biencaps_logo.svg";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ButtonSecondary from "../components/ButtonSecondary.astro";
import Card from "../components/Card.astro";
import ListItem from "../components/ListItem.astro";
import TechStackMain from "../components/TechStackMain.astro";
import BaseLayout from "../layout/BaseLayout.astro";

const pagetitle: string = "vivek";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <BaseLayout pageTitle="hello">
    <section class="section-1 relative w-full overflow-hidden pt-20 md:pt-32">
      <div class="mb-24 flex flex-col-reverse justify-between xl:flex-row">
        <div class="max-w-2xl">
          <div>
            <h1
              class="letters mt-10 cursor-pointer text-header font-bold leading-none tracking-tight xl:mt-0"
            >
              Hi there,<br class="block sm:hidden" /> I&apos;m <br
                class="hidden sm:block"
              />
              <span class="letters__one">V</span>
              <span class="letters__two">i</span>
              <span class="letters__three">v</span>
              <span class="letters__four">e</span>
              <span class="letters__five">k</span>
              <span class="letters__five">&nbsp;</span>
              <span class="letters__six">L</span>
              <span class="letters__seven">o</span>
              <span class="letters__eight">k</span>
              <span class="letters__nine">h</span>
              <span class="letters__ten">a</span>
              <span class="letters__eleven">n</span>
              <span class="letters__twelve">d</span>
              <span class="letters__thirteen">e</span>

               .
            </h1>
            <p class="mt-10">
              I like tinkering with open source. Experimenting with new
              frameworks.

              <br class="hidden lg:block" /> Lately getting interested in
              creating useful products which

              <br class="hidden lg:block" /> people can use.On my journey to
              become a fullstack dev.
            </p>
          </div>
          <div class="mt-20 flex flex-col gap-4 sm:flex-row">
            <ButtonPrimary value="Read my blogs" href="/" />
            <ButtonSecondary value="Connect with me" href="/" />
          </div>
        </div>
        <div class="imageCard group relative w-fit">
          <Icon
            name="circle"
            class="h-[150px] w-[150px] animate-spin-slow group-hover:animate-spin xl:h-[340px] xl:w-[340px]"
          />
          <Image
            src={MyImage}
            alt="my picture"
            class="imageCard__image absolute left-2 top-2.5 h-[132px] w-[132px] cursor-pointer opacity-0 ease-in-out xl:left-5 xl:top-5 xl:h-[300px] xl:w-[300px]"
          />
        </div>
      </div>
      <div class="mb-24 flex h-full flex-col justify-between gap-8 lg:flex-row">
        <Card
          cardTitle="About Me"
          cardWidth="xl:basis-2/3 basis-4/6"
          cardHeight=""
        >
          <p class="tracking-tight">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam id
            aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
            <br />
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
            id aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
            <br />
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
            id aliquid molestias earum similique, cupiditate fuga provident eius
            obcaecati modi iusto labore voluptate, sit nihil quasi maxime,
            tempora tempore dolores.
          </p>
        </Card>
        <Card
          cardTitle="Experience"
          cardWidth="basis-3/6 xl:basis-1/3"
          cardHeight=""
        >
          <ul>
            <ListItem
              imageObject={GeekyantsLogo}
              orgName="GEEKYANTS"
              position="software engineer-II"
              tenure="Aug 2022 ‐ Present"
            />
            <ListItem
              imageObject={GeekyantsLogo}
              orgName="GEEKYANTS"
              position="software engineer-I"
              tenure="Aug 2021 ‐ Aug 2022"
            />
            <ListItem
              imageObject={BiencapsLogo}
              orgName="Biencaps"
              position="motion graphics designer"
              tenure="June 2020 - Aug 2020"
            />
          </ul>
        </Card>
      </div>
    </section>
    <section class="section-2 relative mb-32 w-full">
      <TechStackMain />
    </section>
  </BaseLayout>

  <script>
    import { animate } from "motion";

    const cardElement = document.querySelector(".imageCard");

    animate(".imageCard__image", { opacity: 1 }, { duration: 2 });
    animate(".imageCard", { scale: 0.95 });

    // Function to animate on hover
    function animateOnHover() {
      animate(".imageCard__image", { opacity: 1 }, { duration: 2 });
      animate(".imageCard", { scale: 1 });
    }

    // Function to reset animations on hover-out
    function resetAnimations() {
      animate(".imageCard__image", { opacity: 0.8 }, { duration: 2 });
      animate(".imageCard", { scale: 0.95 });
    }

    // Add event listeners
    cardElement.addEventListener("mouseover", animateOnHover);
    cardElement.addEventListener("mouseout", resetAnimations);

    setTimeout(() => {
      const letterOne = document.querySelector(".letters__one");
      const letterTwo = document.querySelector(".letters__two");
      const letterThree = document.querySelector(".letters__three");
      const letterFour = document.querySelector(".letters__four");
      const letterFive = document.querySelector(".letters__five");
      const letterSix = document.querySelector(".letters__six");
      const letterSeven = document.querySelector(".letters__seven");
      const letterEight = document.querySelector(".letters__eight");
      const letterNine = document.querySelector(".letters__nine");
      const letterTen = document.querySelector(".letters__ten");
      const letterEleven = document.querySelector(".letters__eleven");
      const letterTwelve = document.querySelector(".letters__twelve");
      const letterThirteen = document.querySelector(".letters__thirteen");

      // // Define the start and end letters
      const startLetter = "a";
      const endLetter1 = "v";
      const endLetter2 = "i";
      const endLetter3 = "v";
      const endLetter4 = "e";
      const endLetter5 = "k";
      const endLetter6 = "l";
      const endLetter7 = "o";
      const endLetter8 = "k";
      const endLetter9 = "h";
      const endLetter10 = "a";
      const endLetter11 = "n";
      const endLetter12 = "d";
      const endLetter13 = "e";
      // // Convert letters to their char codes
      const startCharCode = startLetter.charCodeAt(0);
      const endCharCode1 = endLetter1.charCodeAt(0);
      const endCharCode2 = endLetter2.charCodeAt(0);
      const endCharCode3 = endLetter3.charCodeAt(0);
      const endCharCode4 = endLetter4.charCodeAt(0);
      const endCharCode5 = endLetter5.charCodeAt(0);
      const endCharCode6 = endLetter6.charCodeAt(0);
      const endCharCode7 = endLetter7.charCodeAt(0);
      const endCharCode8 = endLetter8.charCodeAt(0);
      const endCharCode9 = endLetter9.charCodeAt(0);
      const endCharCode10 = endLetter10.charCodeAt(0);
      const endCharCode11 = endLetter11.charCodeAt(0);
      const endCharCode12 = endLetter12.charCodeAt(0);
      const endCharCode13 = endLetter13.charCodeAt(0);
      // Animate the letter based on the progress
      animate(
        (progress) => {
          const currentCharCode = Math.round(
            startCharCode + (endCharCode1 - startCharCode) * progress,
          );
          const currentCharCodeTwo = Math.round(
            startCharCode + (endCharCode2 - startCharCode) * progress,
          );
          const currentCharCodeThree = Math.round(
            startCharCode + (endCharCode3 - startCharCode) * progress,
          );
          const currentCharCodeFour = Math.round(
            startCharCode + (endCharCode4 - startCharCode) * progress,
          );
          const currentCharCodeFive = Math.round(
            startCharCode + (endCharCode5 - startCharCode) * progress,
          );

          const currentCharCodeSix = Math.round(
            startCharCode + (endCharCode6 - startCharCode) * progress,
          );
          const currentCharCodeSeven = Math.round(
            startCharCode + (endCharCode7 - startCharCode) * progress,
          );
          const currentCharCodeEight = Math.round(
            startCharCode + (endCharCode8 - startCharCode) * progress,
          );
          const currentCharCodeNine = Math.round(
            startCharCode + (endCharCode9 - startCharCode) * progress,
          );
          const currentCharCodeTen = Math.round(
            startCharCode + (endCharCode10 - startCharCode) * progress,
          );
          const currentCharCodeEleven = Math.round(
            startCharCode + (endCharCode11 - startCharCode) * progress,
          );
          const currentCharCodeTwelve = Math.round(
            startCharCode + (endCharCode12 - startCharCode) * progress,
          );
          const currentCharCodeThirteen = Math.round(
            startCharCode + (endCharCode13 - startCharCode) * progress,
          );

          const currentLetter = String.fromCharCode(currentCharCode);
          const currentLetterTwo = String.fromCharCode(currentCharCodeTwo);
          const currentLetterThree = String.fromCharCode(currentCharCodeThree);
          const currentLetterFour = String.fromCharCode(currentCharCodeFour);
          const currentLetterFive = String.fromCharCode(currentCharCodeFive);
          const currentLetterSix = String.fromCharCode(currentCharCodeSix);
          const currentLetterSeven = String.fromCharCode(currentCharCodeSeven);
          const currentLetterEight = String.fromCharCode(currentCharCodeEight);
          const currentLetterNine = String.fromCharCode(currentCharCodeNine);
          const currentLetterTen = String.fromCharCode(currentCharCodeTen);
          const currentLetterEleven = String.fromCharCode(
            currentCharCodeEleven,
          );
          const currentLetterTwelve = String.fromCharCode(
            currentCharCodeTwelve,
          );
          const currentLetterThirteen = String.fromCharCode(
            currentCharCodeThirteen,
          );
          letterOne.innerHTML = currentLetter.toUpperCase();
          letterTwo.innerHTML = currentLetterTwo;
          letterThree.innerHTML = currentLetterThree;
          letterFour.innerHTML = currentLetterFour;
          letterFive.innerHTML = currentLetterFive;
          letterSix.innerHTML = currentLetterSix.toUpperCase();
          letterSeven.innerHTML = currentLetterSeven;
          letterEight.innerHTML = currentLetterEight;
          letterNine.innerHTML = currentLetterNine;
          letterTen.innerHTML = currentLetterTen;
          letterEleven.innerHTML = currentLetterEleven;
          letterTwelve.innerHTML = currentLetterTwelve;
          letterThirteen.innerHTML = currentLetterThirteen;
        },
        {
          duration: 2,
          easing: "ease-in",
        },
      );
    }, 300);
  </script>
</html>
<!-- // (progress) => { -->
<!--

