---
const { cardTitle, cardWidth, cardHeight, cardFooter } = Astro.props;
---

<article class=`${cardWidth} ${cardHeight}`>
  <div
    class=`h-full ${cardWidth} ${cardHeight} cursor-pointer ring-1 ring-neutral-border bg-neutral rounded-xl p-2 xl:p-4`
  >
    {
      !!cardTitle?.length && (
        <h1 class="mb-4 text-center text-2xl font-semibold tracking-tight">
          {cardTitle}
        </h1>
      )
    }
    <slot />
  </div>
  {
    !!cardFooter?.length && (
      <h1 class="mt-4 truncate text-center text-lg font-semibold tracking-tight">
        {cardFooter}
      </h1>
    )
  }
</article>
